DB_NAME=db_kasapp
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
STRIPE_SECRET=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
GOOGLE_CLIENT_ID=
SMTP_EMAIL=
SMTP_APP_PASSWORD=
SEEDER_ENABLED=false
SEEDER_CLEAR=false
SEEDER_DEBUG=false